/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
:root {
  --bordRad: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(190, 180, 180);
  padding: 3em 0;
}
.container {
  width: 350px;
  max-width: 400px;
  margin: 0 auto;
}

/****** Body Container ******/
.calculator {
  /* background-color: #000; */
  background-color: rgb(29, 21, 21);
  border-radius: var(--bordRad);
  padding: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******* Display *******/
.display {
  width: 300px;
  height: 90px;
  color: #fff;
  font-size: 1.75rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgb(53, 47, 47);
  margin: 0 auto;
  margin-bottom: 0.25em;
  border-radius: 10px;
  padding: 0.5em;
}
.previous-operand {
  font-size: 1rem;
}
.current-operand {
  height: 80px;
}

/****** Buttons ******/
.numbers,
.decimalBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: steelblue;
  border-radius: var(--bordRad);
  border: 2px solid #000;
  font-size: 2rem;
  color: #000;
}
.numbers:hover,
.decimalBtn:hover {
  background-color: #fff;
}
.operator,
.equalsBtn,
.clearBtn,
.deleteBtn {
  background-color: orangered;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: var(--bordRad);
  border: 2px solid #000;
  font-size: 2rem;
  color: #000;
}
.operator:hover,
.equalsBtn:hover,
.clearBtn:hover,
.deleteBtn:hover {
  background-color: rgb(146, 137, 134);
}
.operator:focus,
.equalsBtn:focus {
  background-color: rgb(235, 191, 177);
}
.deleteBtn {
  font-size: 0.9rem;
  font-weight: 900;
}
.calculator-rows {
  display: flex;
  margin: 0.25em;
  gap: 0.25em;
}
.calculator-rows * {
  flex: 1;
}
.long-button {
  flex: 2;
}

/*** Media ***/
/* @media (max-width: 300px) {
  .calculator {
    width: 100%;
  }
} */
