/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bordRad: 20px;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  place-items: center;
  padding: 5em 3em;
}

/****** Body Container ******/
.calculator {
  background-color: #000;
  border-radius: var(--bordRad);
  padding: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******* Display *******/
.display {
  width: 310px;
  height: 60px;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(53, 47, 47);
  margin: 0 auto;
  margin-bottom: 0.25em;
  border-radius: 10px;
}

/****** Buttons ******/
.numbers {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: steelblue;
  border-radius: var(--bordRad);
  border: 2px solid #000;
  font-size: 2rem;
}
.operator,
.decimalBtn,
.equalsBtn {
  background-color: orangered;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: var(--bordRad);
  border: 2px solid #000;
  font-size: 2rem;
}
.calculator-rows {
  display: flex;
  margin: 0.25em;
  gap: 0.25em;
}
.long-button {
  flex: 1;
}

/*** Media ***/
